$columns = 8

$screen-device-small = 768px
$screen-device-medium = 992px
$screen-device-large = 1200px

$screen-device-xsmall-max = $screen-device-small - 1px;
$screen-device-small-max = $screen-device-medium - 1px;
$screen-device-medium-max = $screen-device-large - 1px;
