.row
	&:after
	&:before
		content ""
		display table
		clear both

.column
	display block
	float left

for column in (1..$columns)
	.column.-xs{column}
		width ((column / $columns) * 100)%
			
for column in (1..$columns)
	@media (min-width $screen-device-small)
		.column.-sm{column}
			width ((column / $columns) * 100)%

for column in (1..$columns)
	@media (min-width $screen-device-medium)
		.column.-md{column}
			width ((column / $columns) * 100)%

for column in (1..$columns)
	@media (min-width $screen-device-large)
		.column.-lg{column}
			width ((column / $columns) * 100)%